.footer{
    border-top: 1px solid rgba(27, 27, 27, 0.1);
    padding-block: 60px;
}

.footer__container{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}


.footer__link:hover{
    color: var(--title-color-dark);
}


.footer__socials{
    display: flex;
   column-gap: 20px;
}

.footer__social-link{
    color: var(--title-color);
    font-size:var(--mb-1);
    font-weight: 700;
    transition: all 0.7s var(--transition);
}

.footer__social-link:hover{
    color: var(--primary-color);
}


.footer__copyright{
    font-size: var(--mb-0-75);
}

.footer__copyright:nth-child(2){
    justify-self: center;
}

.footer__copyright:nth-child(3){
    justify-self: flex-end;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .footer__social-link{
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}

/*For Tablets*/
@media screen and (min-width: 712px) and (max-width: 1200px) {

    .footer__container.grid{
        display: flex;
    }
    .footer {

    padding-block: 20px;
}

.footer__copyright{
    font-size: var(--mb-0-50);
}


}

